@import "src/app/styles/paleta";

* {
  font-family: $main-font;
}

p.lapista-product-detail-heading {
  font-size: 35px;
  font-weight: 300;
  color: $main-dark;
}
p.lapista-product-detail-price{
  font-size: 18px;
  color: $main-light;
  font-weight: 600;
}

.lapista-product-detail-sale{
  span{
    b{
      font-weight: 400;
      font-size: 16px;
      margin: 0;
    }
    p{
      font-size: 24px;
      color: $main-light;
      font-weight: 600;
    }
  }
}

.color-choice {
  flex-wrap: wrap;

  .color-box-wrapper {
    margin-right: 10px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border: 1px solid transparent;
    padding: 5px;

    &:hover,
    &-selected {
      border: 1px solid black;
    }

    //&-selected {
    //  background: lightgray;
    //}

    .color-box {
      width: 28px;
      height: 28px;
    }
  }
}

.shoe-numbers {
  min-height: 30px;
  line-height: 40px;

  button.size-number {
    margin-right: 10px;
    padding: 4px 8px;
    width: 60px;
    border: 1px solid #000000;
    height: 30px;
    font-size: 12px;
    line-height: 12px;
    background: transparent;
    outline: none;

    &-selected {
      background: lightgray;
    }

    &-disabled {
      opacity: 0.7;
      cursor: not-allowed;
    }
  }
}

.shoe-heels {
  min-height: 30px;
  line-height: 40px;

  button.heel-number {
    margin-right: 10px;
    padding: 4px 8px;
    width: 60px;
    border: 1px solid #000000;
    height: 30px;
    font-size: 12px;
    line-height: 12px;
    background: transparent;
    outline: none;

    &-selected {
      background: lightgray;
    }

    &-disabled {
      opacity: 0.7;
      cursor: not-allowed;
    }
  }
}

.add-to-cart-button {
  display: inline;
  cursor: pointer;
  border: 1px solid black;
  background-color: #000;
  color: white;
  font-weight: 400;
  margin: 0 auto;
  outline: none;

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.7;
  }
}

@media screen and (min-width: 769px) {
  .add-to-cart-button {
    display: inline;
    cursor: pointer;
    border: 1px solid black;
    background-color: #000;
    color: white;
    font-weight: 400;
    margin: 0 auto;
    padding: 14px 130px;
    outline: none;
  }
}

@media screen and (max-width: 768px) {
  .add-to-cart-button {
    padding: auto;
    width: 100%;
    height: 40px;
  }
}
