<p>
  <b>{{ detailText.name }}</b>
</p>
<p class="mb-2">{{ detailText.price }},00 €</p>
<p class="mb-2">{{ detailText.description }}</p>
<div class="d-flex flex-column">
  <!--  <p *ngFor="let c of detailText.colors" (click)="emitChangedColor(c)">{{c.name}} + {{c.status}}</p>-->
  <p class="text-uppercase"><b>COLOR: </b> {{ selectedColor?.name }}</p>

  <div class="color-choice d-flex py-3">
    <div
      class="color-box-wrapper"
      *ngFor="let c of detailText.colors"
      [class.color-box-wrapper-selected]="selectedColor?.name === c?.name"
      (click)="emitChangedColor(c)"
    >
      <div class="color-box mr-3" [ngStyle]="{ background: c.hex }"></div>
    </div>
  </div>

  <div class="select-size d-flex flex-column mt-2">
    <p class="text-uppercase mb-2">
      <b>SIZE: </b> {{ selectedSize?.sizeName }}
    </p>
    <div class="shoe-numbers" *ngIf="selectedColor">
      <button
        class="size-number"
        *ngFor="let s of selectedColor?.sizes"
        (click)="selectSize(s)"
        [class.size-number-selected]="selectedSize?.sizeName === s?.sizeName"
        [class.size-number-disabled]="returnHeelCount(s)"
        [ngStyle]="{'text-decoration' : s.sizeCount <= 0 ? 'line-through' : 'none'}"
        [disabled]="returnHeelCount(s)"
      >
        {{ s.sizeName }}
      </button>
    </div>
  </div>

  <div class="select-heel d-flex flex-column mt-2">
    <p class="text-uppercase mb-2">
      <b>HEEL: </b> {{ selectedHeel?.heelName}}
    </p>
    <div class="shoe-heels" *ngIf="selectedSize?.heel.length > 0">
      <button
        class="heel-number"
        *ngFor="let h of selectedSize?.heel"
        (click)="selectHeel(h)"
        [class.heel-number-selected]="selectedHeel?.heelName === h?.heelName"
        [class.heel-number-disabled]="h?.heelCount <= 0"
        [ngStyle]="{'text-decoration' : h?.heelCount <= 0 ? 'line-through' : 'none'}"
        [disabled]="h.heelCount <= 0"
      >
        {{ h.heelName }}
      </button>
    </div>
  </div>

</div>

<div class="add-to-cart mt-3">
  <button class="add-to-cart-button"
          (click)="updateCart()"
          [disabled]="!selectedHeel"
  >
    Add to cart
  </button>
</div>
