<!--<div class="modal-header">-->
<!--    <h4 class="modal-title">Modal title</h4>-->
<!--    <button type="button" class="close" aria-label="Close">-->
<!--        <span aria-hidden="true">&times;</span>-->
<!--    </button>-->
<!--</div>-->
<div class="modal-body m-0 p-0">
    <div class="row m-0">
        <div class="col-12 p-0 d-flex">
            <div class="col-6 p-0">
                <img src="https://it.identitashoes.com/m/detail/imghomedetail8.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-6 sale-text p-3 d-flex flex-column justify-content-center align-items-center text-center">
                <h3>30% POPUST NA SVE IDENTITA MODELE</h3>
            </div>
        </div>
    </div>
    <button type="button"
            class="close"
            aria-label="Close"
            style="position: absolute;top:10px;right: 10px"
            (click)="closeModal()"
    >
        <span aria-hidden="true">&times;</span>
    </button>
</div>

