<div class="container-fluid">
  <div class="container">
    <div class="d-flex flex-column align-items-center py-3 my-3">
<!--      <h3 class="text-center"><b>NOVA KOLEKCIJA JESEN / ZIMA 2021</b></h3>-->
<!--      <p>Kupite sada novu kolekciju jesen / zima 2021!</p>-->
      <button class="mt-2"
              style="border-radius: 0px;
              border: 1px solid black;
              height: 40px;
              padding: 5px 25px;
              background: transparent;
              outline: none"
              [routerLink]="'/products'">
        <b class="text-uppercase">Naša ponuda</b>
      </button>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-12 d-flex flex-wrap">
      <div class="col-lg-4 one-of-three">
        <img src="https://app.identitashoes.it/tel/IMGHOMEBORSE.jpg" alt="" class="img-fluid" [routerLink]="'/products'">
      </div>
      <div class="col-lg-4 one-of-three">
        <img src="https://app.identitashoes.it/tel/IMGHOMESTIVALETTI.jpg" alt="" class="img-fluid" [routerLink]="'/products'">
      </div>
      <div class="col-lg-4 one-of-three">
        <img src="https://app.identitashoes.it/tel/IMGHOMENA.jpg" alt="" class="img-fluid" [routerLink]="'/products'">
      </div>
    </div>
  </div>
</div>
