<div class="container-fluid">
  <div class="container">
    <div class="d-flex flex-column align-items-center py-3 my-3">
      <button class="mt-2"
              style="border-radius: 0px;
              border: 1px solid black;
              height: 40px;
              padding: 5px 25px;
              background: transparent;
              outline: none"
              [routerLink]="'/products/all'">
        <b class="text-uppercase">{{'HOME.ourShop' | translate}}</b>
      </button>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-12 d-flex flex-wrap">
      <div class="col-lg-4 one-of-three">
        <img src="https://identitashoes.com/1home.png" alt="" class="img-fluid" [routerLink]="'/products/bags'">
      </div>
      <div class="col-lg-4 one-of-three">
        <img src="https://en.identitashoes.com/m/tel/IMGHOMESTIVALETTI.jpg" alt="" class="img-fluid" [routerLink]="'/products/pumps'">
      </div>
      <div class="col-lg-4 one-of-three">
        <img src="https://identitashoes.com/2home.png" alt="" class="img-fluid" [routerLink]="'/products/sandals'">
      </div>
    </div>
  </div>
</div>
