<div class="container-fluid">
  <div class="container">
    <div class="d-flex flex-column align-items-center py-3">
      <h3><b>FALL/WINTER 2020 NEW COLLECTION</b></h3>
      <p>Shop now the new collection Fall/Winter 2020!</p>
      <button style="border-radius: 0px; border: 1px solid black;height: 40px;padding: 5px 25px;background: transparent">
        Shop now!
      </button>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-12 d-flex flex-wrap">
      <div class="col-lg-4 one-of-three">
        <img src="https://app.identitashoes.it/tel/IMGHOMEBORSE.jpg" alt="" class="img-fluid" [routerLink]="'/products'">
      </div>
      <div class="col-lg-4 one-of-three">
        <img src="https://app.identitashoes.it/tel/IMGHOMESTIVALETTI.jpg" alt="" class="img-fluid" [routerLink]="'/products'">
      </div>
      <div class="col-lg-4 one-of-three">
        <img src="https://app.identitashoes.it/tel/IMGHOMENA.jpg" alt="" class="img-fluid" [routerLink]="'/products'">
      </div>
    </div>
  </div>
</div>
