<div class="container-fluid">
  <div class="container">

    <div class="col-lg-12 d-flex flex-wrap" *ngIf="singleDataObject">
      <div class="col-lg-6 w-50">
                  <app-product-img
                    *ngIf="singleDataObject"
                    [detailImage]="singleDataObject.image">
                  </app-product-img>
<!--        <app-product-text-->
<!--          *ngIf="data"-->
<!--          [detailText]="singleDataObject"></app-product-text>-->
      </div>
      <div class="col-lg-6 w-50">
        <app-product-text
          *ngIf="singleDataObject"
          [detailText]="singleDataObject"></app-product-text>
      </div>
    </div>

  </div>
</div>
