<carousel *ngIf="slideItems.length"
          [autoplay]="sliderSettings.autoplay"
          [autoplayInterval]="sliderSettings.autoplayInterval"
          [pauseOnHover]="sliderSettings.pauseOnHover"
          [transitionDuration]="sliderSettings.transitionDuration"
          [loop]="sliderSettings.loop"
          [arrowsTheme]="sliderSettings.arrowsTheme"
          [arrowsOutside]="sliderSettings.arrowsOutside"
>
    <div class="carousel-cell" *ngFor="let item of slideItems">
        <div class="d-flex flex-column align-items-center ">
            <div class="random-image">
                <img [src]="'../../../../assets/img/items/' + item?.colors[0]?.image">
            </div>
            <p class="random-title">{{item.name | uppercase}}</p>
            <p class="random-price">
                <!--                <b [class.price&#45;&#45;line-through]="item.sale!=0">{{item.price}},00 RSD</b>-->
                {{item.price}},00 RSD - <b>{{item?.sale}}%</b>
            </p>
            <span class="sale-price">{{ item?.price - (item?.price / 100) * item?.sale }},00 RSD</span>
            <!--            <p class="mt-2"><b>{{item.sale}}%</b></p>-->
            <button class="btn-random mt-2" [routerLink]="'/product/'+item.id">{{'more'|translate}}</button>
        </div>
    </div>
</carousel>
