@import "~src/app/styles/paleta";

*{
  font-family: $main-font;
}
.toolbar-logo {
  //margin: 10px auto;
  margin-top: 10px;

  img {
    height: 80px
  }
}

.toolbar-main-menu {
  max-width: 800px;

  p.toolbar-main-menu-item {
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.0);
    //transition: 0.5s;
    padding: 5px 25px;
    color: $app-header-font;
    font-size: 15px;
    font-weight: bold;
    outline: none;

    &:hover {
      //border: 1px solid rgba(0,0,0,0.8);
      //transition: 0.5s;
      background: #eeeeee;
    }
  }
}
.count-in-cart{
  position: absolute;
  bottom: -8px;
  //right: -8px;
  background: red;
  border-radius: 20px;
  width: 16px;
  height: 16px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}
.toolbar-top {
  margin: 0 20px;
  .cart-image{
    object-fit: contain;
  }
}

@media screen and (max-width: 500px) {
  .toolbar-top {
    padding: 0 !important;
    margin: 0 10px !important;

  }
}
