@import "~src/app/styles/paleta";

* {
  font-family: $main-font;
}

.toolbar-logo {
  //margin: 10px auto;
  margin-top: 10px;

  img {
    height: 80px;
  }
}

.toolbar-main-menu {
  max-width: 800px;
  justify-content: space-evenly;

  p.toolbar-main-menu-item {
    cursor: pointer;
    font-weight: normal;
    color: $app-header-font;
    font-size: 15px;
    outline: none;
    border: 2px solid transparent;
    padding: 5px 15px;
    text-transform: uppercase;
    transition: 0.5s;

    &:hover {
      transition: 0.5s;
      border-bottom: 2px solid rgba(0, 0, 0, 0.7);
    }

    &.active-item {
      border: 2px solid #ff0000;
      color: #ff0000;
    }


  }
}

.count-in-cart {
  position: absolute;
  bottom: 20px;
  left: 5px;
  background: red;
  color: white;
  border-radius: 20px;
  width: 16px;
  height: 16px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.toolbar-top {
  margin: 0 20px;

  .cart-image {
    object-fit: contain;
  }
}

.lang-container {
  background: #eeeeee;
  border-radius: 3px;
  //width: 200px;

  .lang-content {
    .lang-item {
      padding: 4px 10px;
      align-items: center;

      p {
        color: #919191;
        margin: 0;
      }
    }
  }
}

p.selected-language {
  font-size: 16px;
  color: #919191;
  padding-left: 10px;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .toolbar-top {
    padding: 0 !important;
    margin: 0 !important;
  }
}

// new menu for mobile
.toolbar-mobile {
  height: 40px;
  position: fixed;
  z-index: 12;
  background: white;

  &-wrapper {
    .toolbar-mobile-left {
      &_toggler-icon {
        margin-right: 12px;

        img {
          width: 100%;
          height: auto;
        }
      }

      &_logo {
        img {
          height: 100%;
        }
      }

      &_mobile-menu {

      }
    }

    .toolbar-mobile-right {
      &_search {
      }

      &_language {
      }
    }
  }

  /* MENU ITEMS */
  .toolbar-mobile-left_mobile-menu {
    width: 70%;
    background: rgba(255, 255, 255, 0.9);
    z-index: 11;
    top: 40px;
    height: 100%;
    position: fixed;
    border-right: 1px solid rgba(144, 144, 144, 0.46);

    ul {
      text-decoration: none;
      list-style: none;
      margin: 0;
      padding: 12px 0;

      li {
        display: flex;
        align-items: center;
        height: 42px;
        font-size: 18px;
        font-weight: normal;
        padding-left: 24px;
        color: #606060;
        border-bottom: 1px solid rgba(144, 144, 144, 0.46);

        &.active-item-mobile {
          border-bottom: 1px solid #ff0000;
          color: #ff0000;
          font-weight: bold;
        }
      }
    }
  }

  .toolbar-mobile-wrapper {
    .toolbar-mobile-right {
      .lang-container {
        right: 11px;
        bottom: -56px;

        .lang-content {
          .lang-item {
            padding: 4px !important;
          }
        }
      }
    }
  }
}
