<div class="container" *ngIf="innerWidth > 576">
    <div class="toolbar-top d-flex justify-content-between align-items-center">
        <div style="max-width: 25px;" *ngIf="innerWidth > 768">
            <div class="d-flex position-relative align-items-center"
                 #languageContainer
                 (click)="showLanguages()">
                <p
                        class="m-0 selected-language"
                >
                    {{selectedLanguage.name}}
                </p>
                <img class="img-fluid ml-2" [src]="selectedLanguage.img" alt="" style="max-height: 20px">
            </div>
            <div class="d-flex position-absolute lang-container" *ngIf="languageMenu">
                <div class="d-flex flex-column lang-content">
                    <div class="d-flex justify-content-between lang-item" *ngFor="let l of languages"
                         style="cursor: pointer"
                         (click)="setLanguage(l)">
                        <p>{{l.name}}</p>
                        <img class="img-fluid ml-2" [src]="l.img" alt="" style="max-height: 20px">
                    </div>
                </div>
            </div>
        </div>
        <!--  Back route if lower than 768px -->
        <div class="d-flex" *ngIf="innerWidth <= 768">
            <img
                    src="assets/img/left-chevron.svg"
                    (click)="goBack()"
                    *ngIf="ruta !== '/'"
                    alt="lapista go back"
                    style="max-height: 20px; min-height: 15px;width: 20px;"
            />
        </div>

        <div *ngIf="ruta == '/' && innerWidth < 769" class="position-relative"><!-- Lang-->
            <div class="d-flex position-relative align-items-center"
                 (click)="showLanguages()">
                <img class="img-fluid" [src]="selectedLanguage.img" alt="" style="max-height: 24px">
            </div>
            <div class="d-flex position-absolute lang-container" *ngIf="languageMenu"
                 style="width: 40px;left: -10px;">
                <div class="d-flex flex-column lang-content">
                    <div class="d-flex justify-content-between lang-item" *ngFor="let l of languages"
                         style="cursor: pointer"
                         (click)="setLanguage(l)">
                        <!--          <p >{{l.name}}</p>-->
                        <img class="img-fluid" [src]="l.img" alt="" style="max-height: 24px">
                    </div>
                </div>
            </div>
        </div><!-- Lang-->

        <!--Logo-->
        <div
                class="toolbar-logo d-flex justify-content-center col-lg-6"
                [routerLink]="'/'"
                style="cursor: pointer;"
        >
            <img
                    src="assets/img/svg/lapista-logo-desktop.svg"
                    *ngIf="innerWidth >= 500"
                    alt="lapista-logo"
                    class="img-fluid"
                    style="max-height: 120px; object-fit: contain;"
            />
            <img
                    src="assets/img/svg/lapista-logo-mobile.svg"
                    *ngIf="innerWidth < 500"
                    alt="lapista-logo"
                    class="img-fluid"
                    style="max-height: 40px; max-width: 200px; object-fit: contain;"
            />
        </div>
        <!-- cart -->
        <div
                class="d-flex justify-content-end m-0 p-0 position-relative"
                [routerLink]="'/cart'"
                style="cursor: pointer;"
        >
            <img
                    src="../../../../assets/img/shopping_cart.png"
                    alt="La Pista korpa kupovina"
                    class="img-fluid position-relative cart-image"
                    style="height: 25px;"
            />
            <span class="count-in-cart" *ngIf="returnCountInCart() > 0">{{
                returnCountInCart()
                }}</span>
        </div>
    </div>
    <div
            class="toolbar-container mt-3 d-flex justify-content-center"
            *ngIf="innerWidth > 768"
    >
        <div class="toolbar-main-menu d-flex flex-grow-1 ">
            <p
                    class="toolbar-main-menu-item"
                    *ngFor="let m of menu"
                    [routerLink]="m.route"
                    [routerLinkActive]="['active-item']"
                    [routerLinkActiveOptions]="{exact:true}"
            >
                {{ m.name | translate }}
            </p>
        </div>
    </div>
</div>

<!-- NEW MENU DESIGN FOR MOBILE DEVICES -->
<div class="container-fluid toolbar-mobile p-0 d-flex align-items-center"
     *ngIf="innerWidth < 576" style="max-width: 576px;width: 100%">
    <div class="toolbar-mobile-left_mobile-menu "
         *ngIf="mobileMenu">
        <ul>
            <li *ngFor="let route of menu"
                [routerLink]="route.route"
                [routerLinkActive]="['active-item-mobile']"
                [routerLinkActiveOptions]="{exact:true}"
                (click)="mobileMenuClose()">{{route.name | translate}}</li>
        </ul>
    </div>
    <div class="container toolbar-mobile-wrapper d-flex align-content-center justify-content-between">
        <div class="toolbar-mobile-left">
            <div class="d-flex">
                <a style="height: 30px;width: 30px" class="toolbar-mobile-left_toggler-icon"
                   (click)="toggleMobileMenu()">
                    <!--                    <img src="../../../../assets/img/menu-icon/004-menu.png"-->
                    <!--                         alt="La Pista Mobile menu icon">-->
                    <mat-icon aria-hidden="false" aria-label="La pista menu icon" style="color: black">menu</mat-icon>

                </a>
                <div class="toolbar-mobile-left_logo">
                    <img src="assets/img/svg/lapista-logo-mobile.svg" [routerLink]="'/'"
                         alt="La Pista-Belville Delta City">
                </div>
            </div>
        </div>
        <!-- LANG OK -->
        <div class="toolbar-mobile-right d-flex">
            <div class="d-flex position-relative align-items-center"
                 #languageContainer
                 (click)="showLanguages()">
                <!--<p class="m-0 selected-language">
                    {{selectedLanguage.name}}
                </p>-->
                <img class="img-fluid ml-2" [src]="selectedLanguage.img" alt="" style="max-height: 20px">
            </div>
            <div class="d-flex position-absolute lang-container" *ngIf="languageMenu">
                <div class="d-flex flex-column lang-content">
                    <div class="d-flex justify-content-between lang-item" *ngFor="let l of languages"
                         style="cursor: pointer"
                         (click)="setLanguage(l)">
                        <!--                        <p *ngIf="innerWidth > 576">{{l.name}}</p>-->
                        <img class="img-fluid m-0" [src]="l.img" alt="" style="max-height: 20px">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MOBILE MENU -->
