<!--<div class="container-fluid px-0 mx-0 my-5 overflow-hidden">
  <div class="col-lg-12 d-flex flex-wrap flex-sm-wrap-reverse">
    <div class="col-lg-5">
      <img
        src="https://en.identitashoes.com/m/tel/imghomedic2.png"
        alt=""
        class="img-fluid"
      />
    </div>
    <div
      class="col-lg-7 d-flex flex-column justify-content-center align-items-center mt-3"
    >
      <p class="text-uppercase" style="letter-spacing: 2px; font-size: 22px;">
        <b>Lapista universe</b>
      </p>
      <p style="font-size: 14px; letter-spacing: 1.5px; max-width: 800px;">
        {{"HOME.universeText" | translate}}
        <br />
        <b style="font-size: 16px;"
          >{{"HOME.universeTextBold" | translate}}
        </b>
      </p>
      <button
        [routerLink]="'/about'"
        class="mb-5"
        style="border-radius: 0px;border: 1px solid black;height: 40px;padding: 5px 25px;background: transparent;outline: none;">
        {{"HOME.universeMore" | translate}}
      </button>
    </div>
  </div>
</div>-->

<div class="container-fluid my-5">
  <div class="container d-flex justify-content-center">
    <div
      class="col-6 d-flex flex-column justify-content-center align-items-center"
    >
      <p
        style="font-size: 22px; text-transform: uppercase; letter-spacing: 2px;"
      >
        <b>{{"HOME.ourWorldHeading" | translate}}</b>
      </p>
      <p style="font-size: 14px; letter-spacing: 1px; line-height: 28px;">
        {{"HOME.ourWorld" | translate}}
      </p>
    </div>
  </div>
</div>
<!--Four images-->
<div class="container-fluid">
  <div class="row four-images-row">
    <div class="col-lg-3 col-md-6 one-of-four" [routerLink]="'products/pumps'">
      <img
        src="assets/img/cipele.png"
        alt=""
        class="img-fluid position-relative one-four-image"
      />
      <div class="image-overlay">
        <p>{{"HOME.FOURIMAGES.shoes" | translate}}</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 one-of-four" [routerLink]="'products/sandals'">
      <img
        src="https://en.identitashoes.com/m/tel/imghome11222359.png"
        alt=""
        class="img-fluid position-relative one-four-image"
      />
      <div class="image-overlay">
        <p>{{"HOME.FOURIMAGES.sandals" | translate}}</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 one-of-four" [routerLink]="'products/boots'">
      <img
        src="assets/img/cizme.jpg"
        alt="La Pista Cizme"
        class="img-fluid position-relative one-four-image"
      />
      <div class="image-overlay">
        <p>{{"HOME.FOURIMAGES.boots" | translate}}</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 one-of-four" [routerLink]="'products/bags'">
      <img
        src="https://identitashoes.com/4imghome/3.jpg"
        alt=""
        class="img-fluid position-relative one-four-image"
        [routerLink]="'/products'"
      />
      <div class="image-overlay">
        <p>{{"HOME.FOURIMAGES.bags" | translate}}</p>
      </div>
    </div>
  </div>
</div>
