<div class="container-fluid my-5">
  <div class="container">
    <div class="col-12">
      <div class="d-flex flex-column align-items-center">
        <h3 class="text-center">
          <b>PRIDRUŽITE SE I DOBIJATE 15% POPUSTA NA PRVU NARUDŽBINU</b>
        </h3>
        <p>Budite u toku sa najnovijim vestima i ostvarite 15% popusta
        </p>
        <div class="newsletter">
          <p>PRETPLATITE SE NA OBAVEŠTENjA</p>
          <div class="subscribe-inputs d-flex flex-wrap">
            <input type="email" placeholder="Upišite vaš email" />
            <button>PRETPLATITI SE</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 d-flex flex-wrap">
      <div class="col-lg-3 col-md-6 one-of-four">
        <img
          src="https://identitashoes.it/4imghome/1.jpg"
          alt=""
          class="img-fluid position-relative"
          [routerLink]="'/products'"
        />
        <div class="image-overlay">
          <p>Img Overlay</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 one-of-four">
        <img
          src="https://identitashoes.it/4imghome/2.jpg"
          alt=""
          class="img-fluid position-relative"
          [routerLink]="'/products'"
        />
        <div class="image-overlay">
          <p>Img Overlay</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 one-of-four">
        <img
          src="https://identitashoes.it/4imghome/3.jpg"
          alt=""
          class="img-fluid position-relative"
          [routerLink]="'/products'"
        />
        <div class="image-overlay">
          <p>Img Overlay</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 one-of-four">
        <img
          src="https://identitashoes.it/4imghome/4.jpg"
          alt=""
          class="img-fluid position-relative"
          [routerLink]="'/products'"
        />
        <div class="image-overlay">
          <p>Img Overlay</p>
        </div>
      </div>
    </div>
  </div>
</div>
