agm-map {
  //height: 360px;
  height: 460px;
}

.mobile-center {
  .box-heading {
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 6px;
    margin-top: 12px;
    font-size: 16px;
  }

  a, p {
    font-size: 14px;
    font-weight: 300;
  }
}

@media screen and (max-width: 768px) {
  .mobile-center {
    text-align: center;

    .box-heading {
      margin-bottom: 6px;
      margin-top: 12px;
      //font-size: 14px;
    }
  }
}
