.form {
  .d-flex.flex-wrap {
    margin: auto -15px !important;
  }
}

.example-full-width {
  width: 100%;
}

::ng-deep {
  .mat-form-field-appearance-outline .mat-form-field-outline-end,
  .mat-form-field-appearance-outline .mat-form-field-outline-start {
    border-radius: 0 !important;
  }
}
button {
  border-radius: 0 !important;
  outline: none;
}
