<div
  class="container-fluid d-flex flex-column align-items-center justify-content-center"
>
  <div class="container mx-0" style="border-top: 10px solid #f4f4f4;">
    <div class="d-flex flex-column my-3">
      <p style="font-size: 14px;"><b>Contact Customer Service</b></p>
      <p style="font-size: 14px;">
        Simply complete the form and click 'send' to submit an enquiry:
      </p>
    </div>
    <div class="form" style="width: 100%;">

      <form action="" [formGroup]="sendMailForm">
        <div class="d-flex flex-wrap">
          <div class="col-12 flex-grow-1">
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Name</mat-label>
              <input
                matInput
                placeholder="Enter name"
                formControlName="name"
              />
            </mat-form-field>
          </div>
          <div class="col-12 flex-grow-1">
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Email</mat-label>
              <input
                matInput
                placeholder="Enter email"
                formControlName="email"
              />
            </mat-form-field>
          </div>
          <div class="col-12 flex-grow-1">
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Subject</mat-label>
              <input
                matInput
                placeholder="Enter subject"
                formControlName="subject"
              />
            </mat-form-field>
          </div>
          <div class="col-12 flex-grow-1">
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Message</mat-label>
              <input
                matInput
                placeholder="Vasa poruku"
                formControlName="message"
              />
              <!--            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->
              <!--            <mat-hint>Hint</mat-hint>-->
            </mat-form-field>
          </div>
        </div>

        <div class="row d-flex justify-content-center">
          <button
            mat-stroked-button
            color="primary"
            class="my-3"
            style="width: 250px; height: 40px;"
            (click)="sendMail()"
            [disabled]="!sendMailForm.valid"
          >
            SEND
          </button>
        </div>
      </form>
      <!--      <button mat-stroked-button>Basic</button>-->
    </div>
  </div>
</div>
