<div class="container-fluid">
  <div class="container my-5">
    <h3 class="mb-2">{{'ABOUT.ourStory' | translate}}</h3>
    <p class="mb-3"><b>{{'ABOUT.passion' | translate}}</b></p>

    <p style="font-size: 16px; line-height: 32px;">
      {{'ABOUT.ourTarget' | translate}}
      <br/>
      <br/>
      {{'ABOUT.ourTarget2' | translate}}
      <br/>
      <br/>
      <b>{{'ABOUT.slogan1' | translate}}</b>
      <br/>
      <br/>
      {{'ABOUT.ourObject' | translate}}
      <br/>
      <br/>
      <b>{{'ABOUT.slogan2' | translate}}</b>
      <br/>
    </p>
  </div>
</div>







