<div class="modal-header">
    <h4 class="modal-title">Tablica velicina</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <table style="width: 100%; box-sizing: BORDER-BOX; border: 1px solid #e7e7e7; border-top-color: #eaeaea; border-spacing: 0; text-align: center;">
        <tbody>
        <tr style="background: linear-gradient(to bottom,#f8f8f8,#eee); box-shadow: 0 1px 0 rgba(255,255,255,.5) inset; border-color: #e7e7e7; border-bottom: 1px solid #ddd;">
            <th style="text-align: left; width: 40%; padding: 1.3rem 1.7rem 1.2rem 1.7rem;">CM</th>
            <th style="width: 20%; padding: 1.3rem 1.7rem 1.2rem 1.7rem;">EU</th>
            <th style="width: 20%; padding: 1.3rem 1.7rem 1.2rem 1.7rem;">USA</th>
            <th style="width: 20%; padding: 1.3rem 1.7rem 1.2rem 1.7rem;">UK</th>
        </tr>
        <tr style="height: 46px; background-color: #f4f4f4;">
            <td style="width: 40%; padding: 0.3rem 1.7rem 0.2rem 1.7rem; text-align: left;">21</td>
            <td style="width: 20%; padding: 7px 14px 6px;">34</td>
            <td style="width: 20%; padding: 7px 14px 6px;">4,5</td>
            <td style="width: 20%; padding: 7px 14px 6px;">2</td>
        </tr>
        <tr style="height: 46px; background-color: white;">
            <td style="width: 40%; padding: 0.3rem 1.7rem 0.2rem 1.7rem; text-align: left;">22</td>
            <td style="width: 20%; padding: 7px 14px 6px;">35</td>
            <td style="width: 20%; padding: 7px 14px 6px;">5,5</td>
            <td style="width: 20%; padding: 7px 14px 6px;">3</td>
        </tr>
        <tr style="height: 46px; background-color: #f4f4f4;">
            <td style="width: 40%; padding: 0.3rem 1.7rem 0.2rem 1.7rem; text-align: left;">22,5</td>
            <td style="width: 20%; padding: 7px 14px 6px;">36</td>
            <td style="width: 20%; padding: 7px 14px 6px;">6</td>
            <td style="width: 20%; padding: 7px 14px 6px;">3,5</td>
        </tr>
        <tr style="height: 46px; background-color: white;">
            <td style="width: 40%; padding: 0.3rem 1.7rem 0.2rem 1.7rem; text-align: left;">23,5</td>
            <td style="width: 20%; padding: 7px 14px 6px;">37</td>
            <td style="width: 20%; padding: 7px 14px 6px;">7</td>
            <td style="width: 20%; padding: 7px 14px 6px;">4,5</td>
        </tr>
        <tr style="height: 46px; background-color: #f4f4f4;">
            <td style="width: 40%; padding: 0.3rem 1.7rem 0.2rem 1.7rem; text-align: left;">24</td>
            <td style="width: 20%; padding: 7px 14px 6px;">38</td>
            <td style="width: 20%; padding: 7px 14px 6px;">7,5</td>
            <td style="width: 20%; padding: 7px 14px 6px;">5</td>
        </tr>
        <tr style="height: 46px; background-color: white;">
            <td style="width: 40%; padding: 0.3rem 1.7rem 0.2rem 1.7rem; text-align: left;">25</td>
            <td style="width: 20%; padding: 7px 14px 6px;">39</td>
            <td style="width: 20%; padding: 7px 14px 6px;">8,5</td>
            <td style="width: 20%; padding: 7px 14px 6px;">6</td>
        </tr>
        <tr style="height: 46px; background-color: #f4f4f4;">
            <td style="width: 40%; padding: 0.3rem 1.7rem 0.2rem 1.7rem; text-align: left;">25,5</td>
            <td style="width: 20%; padding: 7px 14px 6px;">40</td>
            <td style="width: 20%; padding: 7px 14px 6px;">9</td>
            <td style="width: 20%; padding: 7px 14px 6px;">6,5</td>
        </tr>
        <tr style="height: 46px; background-color: white;">
            <td style="width: 40%; padding: 0.3rem 1.7rem 0.2rem 1.7rem; text-align: left;">26,5</td>
            <td style="width: 20%; padding: 7px 14px 6px;">41</td>
            <td style="width: 20%; padding: 7px 14px 6px;">10</td>
            <td style="width: 20%; padding: 7px 14px 6px;">7,5</td>
        </tr>
        </tbody>
    </table>
</div>
