<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    style="width: 250px;"
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="'dialog'"
    [mode]="'side'"
    opened
  >
    <mat-toolbar>
      <img src="assets/img/LaPista-Logo-main.png" alt="" height="20px" />
      <!--      <p>iComp</p>-->
    </mat-toolbar>
    <mat-nav-list>
      <!--
      example
      <mat-list-item
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact:true}"
        routerLink="/"
      >
        <a matLine>Kategorije</a>
        <button mat-icon-button>
          <mat-icon>home</mat-icon>
        </button>
      </mat-list-item>
      -->

      <mat-list-item (click)="getDataForSelected('category')">
        <a matLine>Kategorije</a>
        <button mat-icon-button>
          <mat-icon>home</mat-icon>
        </button>
      </mat-list-item>

      <mat-list-item (click)="getDataForSelected('item')">
        <a matLine>Proizvodi</a>
      </mat-list-item>

      <mat-list-item (click)="getDataForSelected('color')">
        <a matLine>Boje</a>
      </mat-list-item>

      <mat-list-item (click)="getDataForSelected('size')">
        <a matLine>Velicine</a>
      </mat-list-item>

      <mat-list-item (click)="getDataForSelected('heel')">
        <a matLine>Stikla</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <!-- CONTENT -->
  <mat-sidenav-content>
    <mat-toolbar class="toolbar-main justify-content-between">
      <div class="d-flex flex-row align-items-center">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <p class="m-0 p-0">Admin Panel</p>
      </div>

      <!-- Add new -->
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="openCreateModal(selectedData)"
      >
        <mat-icon aria-label="Side nav toggle icon">add_circle_outline</mat-icon>
      </button>
    </mat-toolbar>

    <div class="container-fluid">
      <div class="col-12">
        <!-- category table -->
        <table class="table" *ngIf="selectedData === 'category'">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let a of dataSource">
              <th scope="row">{{ a.id }}</th>
              <td>{{ a.name }}</td>
              <td class="edit-td">
                <button type="button" class="btn btn-info" (click)="openEditModal('category' , a.id)">Edit</button>
              </td>
              <td class="delete-td">
                <button type="button" class="btn btn-danger" (click)="deleteItem('category' , a.id)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- category table -->

        <!-- prod table -->
        <table class="table" *ngIf="selectedData === 'item'">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Category</th>
              <th scope="col">Name</th>
              <th scope="col">Image</th>
              <th scope="col">Price</th>
              <th scope="col">Description</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of dataSource">
              <th scope="row">{{ p.id }}</th>
              <td>{{ p?.category?.name }}</td>
              <td>{{ p?.name }}</td>
              <td>{{ p?.image }}</td>
              <td>{{ p?.price }}</td>
              <td>{{ p?.description }}</td>
              <td class="edit-td">
                <button type="button" class="btn btn-info" (click)="openEditModal('item' , p.id)">Edit</button>
              </td>
              <td class="delete-td">
                <button type="button" class="btn btn-danger" (click)="deleteItem('item' , p.id)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- prod table -->

        <!-- colors table -->
        <table class="table" *ngIf="selectedData === 'color'">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Item</th>
              <th scope="col">ColorHex</th>
              <th scope="col">Name</th>
              <th scope="col">Image</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of dataSource">
              <th scope="row">{{ c.id }}</th>
              <th scope="row">{{ c.item?.name }}</th>
              <td>{{ c.hex }}</td>
              <td>{{ c.name }}</td>
              <td>{{ c.image }}</td>
              <td class="edit-td">
                <button type="button" class="btn btn-info" (click)="openEditModal('color' , c.id)">Edit</button>
              </td>
              <td class="delete-td">
                <button type="button" class="btn btn-danger" (click)="deleteItem('color' , c.id)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- colors table -->

        <!-- sizes table -->
        <table class="table" *ngIf="selectedData === 'size'">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Color</th>
              <th scope="col">Item</th>
              <th scope="col">Size Count</th>
              <th scope="col">Size Name</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let s of dataSource">
              <th scope="row">{{ s.id }}</th>
              <th scope="row">{{ s.color?.name }}</th>
              <th scope="row">{{ s.color?.item?.name }}</th>
              <td>{{ s.sizeCount }}</td>
              <td>{{ s.sizeName }}</td>
              <td class="edit-td">
                <button type="button" class="btn btn-info" (click)="openEditModal('size' , s.id)">Edit</button>
              </td>
              <td class="delete-td">
                <button type="button" class="btn btn-danger" (click)="deleteItem('size' , s.id)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- sizes table -->

        <!-- sizes table -->
        <table class="table" *ngIf="selectedData === 'heel'">
          <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Item</th>
            <th scope="col">Color</th>
            <th scope="col">Size</th>
            <th scope="col">heel Count</th>
            <th scope="col">heel Name</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let s of dataSource">
            <th scope="row">{{ s.id }}</th>
            <th scope="row">{{ s?.size?.color?.item?.name }}</th>
            <th scope="row">{{ s?.size?.color?.name }}</th>
            <th scope="row">{{ s?.size?.sizeName }}</th>
            <td>{{ s.heelCount }}</td>
            <td>{{ s.heelName }}</td>
            <td class="edit-td">
              <button type="button" class="btn btn-info" (click)="openEditModal('heel' , s.id)">Edit</button>
            </td>
            <td class="delete-td">
              <button type="button" class="btn btn-danger" (click)="deleteItem('size' , s.id)">Delete</button>
            </td>
          </tr>
          </tbody>
        </table>
        <!-- sizes table -->
      </div>
    </div>
  </mat-sidenav-content>
  <!-- CONTENT -->
</mat-sidenav-container>
