<div class="container-fluid">
  <div class="container text-center">
    <h2>Shopping bag</h2>
  </div>

  <div class="container shopping-cart-container d-flex flex-column align-items-center">
    <div
      class="col-8 d-flex shopping-cart-item"
      *ngFor="let item of shoppingItems"
    >
      <div class="col-lg-7 shopping-cart-item-image">
        <img
          [src]="item.image"
          alt=""
          class="img-fluid"
        />
      </div>
      <div class="col-lg-5 d-flex flex-column shopping-cart-item-info">
        <span>Name:
          <p>{{ item.name }}</p>
        </span>
        <span>Color:
          <p>{{ item.color }}</p>
        </span>
        <span>Size:
          <p>{{ item.size }}</p>
        </span>
        <span>Price:
          <p>{{ item.price }}</p>
        </span>
        <span>Description:
          <p>{{ item.description }}</p>
        </span>
      </div>
    </div>
    <div class="d-flex col-lg-8 flex-grow-1 justify-content-end m-0 p-0">
      <button (click)="deleteLocalStorage()">Delete all</button>
    </div>
  </div>

<!--  <div class="container d-flex justify-content-end">-->
<!--    <button (click)="deleteLocalStorage()">Delete all</button>-->
<!--  </div>-->


</div>
