.shopping-cart-container {
  .shopping-cart-item {
    border-bottom: 1px solid #606060;
    padding: 0 10px;
    margin: 10px;

    &-image {
      max-height: 200px;
      display: flex;
      align-items: center;
    }

    &-info {
      padding: 15px;

      span {
        margin: 0;
        padding: 0;
        display: inline-flex;

        p {
          margin-bottom: 5px;
          margin-left: 10px;
          padding: 0;
          font-size: 16px;
          font-weight: bold;
        }
      }

      //p {
      //  margin-left: 10px;
      //  padding: 0;
      //  font-size: 16px;
      //  font-weight: bold;
      //}
    }
  }
}

button {
  border: none;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  width: 200px !important;
  height: 40px;
  font-size: 14px;
  transition: 0.3s;
  border-radius: 5px;
  outline: none;

  &:hover {
    //width: 150px;
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 1);
  }

  &.cart-delete-all {
    background: red;
    opacity: 0.3;
    transition: 0.3s;

    &:hover {
      opacity: 0.8;
      transition: 0.3s;
      background: red;
    }
  }
}

@media screen and (min-width: 769px) {
  .shopping-cart-item {
    .col-lg-7 {
      img {
        height: 90%;
        object-fit: contain;
      }
    }
  }

  .order-buttons {
    justify-content: flex-end;
  }
}

@media screen and (max-width: 768px) {
  .shopping-cart-item {
    .col-lg-7 {
      img {
        height: auto;
      }
    }
  }

  .order-buttons {
    align-items: center;
    justify-content: center;
  }
}

.empty-cart {
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
