<div class="container-fluid"
[class.empty-cart]="shoppingItems?.length < 1">
  <div class="container text-center">
    <h2 *ngIf="shoppingItems && shoppingItems.length > 0 ;else prazna">Korpa</h2>
    <ng-template #prazna>
      <h2>Vaša korpa je prazna</h2>
      <p>Dodajte proizvod da bi ste poručili</p>
    </ng-template>
  </div>

  <div class="container shopping-cart-container d-flex flex-column align-items-center">
    <div
      class="col-lg-8 col-md-10 col-sm-12 d-flex shopping-cart-item"
      *ngFor="let item of shoppingItems"
    >
      <div class="col-lg-7 shopping-cart-item-image">
        <img
          [src]="item.image"
          alt=""
          class="img-fluid"
        />
      </div>
      <div class="col-lg-5 d-flex flex-column shopping-cart-item-info align-items-center justify-content-center">
        <span>Name:
          <p>{{ item.name }}</p>
        </span>
        <span>Color:
          <p>{{ item.color }}</p>
        </span>
        <span *ngIf="item?.size">Size:
          <p>{{ item.size }}</p>
        </span>
        <span *ngIf="item?.heel?.heelName">Heel:
          <p>{{ item.heel.heelName }}</p>
        </span>
        <span>Price:
          <p>{{ item.price }}</p>
        </span>
       <!-- <span>Description:
          <p>{{ item.description }}</p>
        </span>-->
      </div>
    </div>
    <div class="d-flex col-lg-8 flex-grow-1 m-0 p-0 order-buttons"
         *ngIf="shoppingItems && shoppingItems.length > 0">
<!--      <button class="mr-3">Poruči</button>-->
      <button class="cart-delete-all" (click)="deleteLocalStorage()"><b>Obriši sve</b></button>
    </div>
  </div>

<!--  <div class="container d-flex justify-content-end">-->
<!--    <button (click)="deleteLocalStorage()">Delete all</button>-->
<!--  </div>-->
  <app-order-form-component
    *ngIf="shoppingItems && shoppingItems.length > 0">
  </app-order-form-component>

</div>
